.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #fff;
    font-family: Arial, sans-serif;
}

.input-field {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.generate-btn {
    width: 310px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #282c34;
    font-size: 16px;
    cursor: pointer;
}

.password-display {
    font-size: 20px;
    color: #61dafb;
}

.password-text {
    color: #fff;
    font-weight: bold;
}
